|   * {
    margin: 0;
    padding: 0;
    font-family: "Handlee", cursive;
}

body {
    overflow-x: hidden;
}

.btn-primary {
    background-color: rgb(11, 84, 145);
}

.btn-tertiary {
    border: 1px solid #000000;
}

/* Header */
.header {
    background-color: #beedf5;
    width: 100%;
    margin: 0;
}

.header-logo {
    width: 14rem;
    padding: 1rem;
}


.navbar {
    width: 100%;
    height: 4rem;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.193);
}

.header-link {
    text-decoration: none;
}


/* Informative cards | Home Page*/

.card {
    gap: 0.9rem;
    width: 6rem;
    border: none;
}

.carousel-item img {
    width: 4.2rem;
    height: 100%;
    object-fit: contain;
}


/* Main | Home Page */

.card--featured {

    border: 1px solid #000;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 40rem;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}



.main-featured-btn {
    background-color: #beedf5;
    color: #000;
    padding: 0.8rem 1rem;
    border: 1px solid;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;

}

.main-featured-btn:hover {
    background-color: #1498af;
    color: #fff;
    border: 1px solid #000;
}


/* Main Products Page */

.product-category {
    margin-top: 3rem;
}

.category-title {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin-top: 1rem;
}

.category_btn {
    margin-left: auto;
    margin-right: 2rem;
    padding: 0rem 1rem;

}

/* Scroll horizontal cards | Mobile */

.horizontal-scroll {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-left: 0.8rem;

    /* 1. Para navegadores basados en Internet Explorer/Edge */
    -ms-overflow-style: none;

    /* 2. Para Firefox */
    /* scrollbar-width: none; */


}

/* .horizontal-scroll::-webkit-scrollbar {
    display: none;
    
} */

.product-card {
    border: 1px solid #000;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;

    flex: 0 0 40%;
    /* ancho fijo relativo */
    scroll-snap-align: start;

}

.product-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    padding: 1rem;

}

.product-card-title {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    padding: 0 0.3rem;
}

.product-price {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;

}

.buy-product-card {
    color: #000;
    text-decoration: none;
}



/* Footer */

footer {
    margin-top: 5rem;
    background-color: #beedf5;
    width: 100%;
}

.newsletter-title {
    text-underline-offset: 0.4rem;
}

.footer-text {
    text-align: left;
}

.footer-input {
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.356);
    padding: 0.4rem 0.6rem;
    width: 10rem;
    height: 2.4rem;
}

.submit-btn {
    background-color: #f3aacb;
    color: #000000;
    border: none;
}

.submit-btn:hover {
    background-color: #f3aacb;
    border: none;
}

.footer-copy {
    background-color: #abd5dc;
}




/* MEDIA QUERIES */

/* Media Queries Tablet */

@media only screen and (min-width: 500px) {

    /* Product Cards */

    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 3rem;

    }

    .bows {
        grid-area: 1 / 1 / 2 / 2;
    }

    .amigurumi {
        grid-area: 1 / 2 / 2 / 3;
    }

    .porta-gafas {
        grid-area: 2 / 1 / 3 / 2;
    }

    .flores {
        grid-area: 2 / 2 / 3 / 3;
    }

    .newsletter-form {
        text-align: left;
    }

    /* Products Page | Media Query */


    .product-card {

        flex: 0 0 10rem;
        max-width: 12rem;

    }

    .product-card-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        font-style: normal;
        padding: 0 0.3rem;
    }

    .product-price {
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        font-style: normal;

    }

    /* Media Query | Footer */

    .input-container {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .footer-title {
        text-align: left;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-input {
        border-radius: 0.5rem;
        border: 0.5px solid rgba(0, 0, 0, 0.356);
        width: 80%;
        height: 2.4rem;
    }

    .footer-copy {
        text-align: center;
    }


}

/* Media Query Tablet Horizontal */

@media only screen and (min-width: 800px) {


    #infoCarousel .carousel-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }

    #infoCarousel .carousel-item {
        display: block !important;
        opacity: 1 !important;
        transform: none !important;
    }


    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 1rem;
    }

    .bows {
        grid-area: 1 / 1 / 2 / 2;
    }

    .amigurumi {
        grid-area: 1 / 2 / 2 / 3;
    }

    .porta-gafas {
        grid-area: 1 / 3 / 2 / 4;
    }

    .flores {
        grid-area: 2 / 1 / 3 / 2;
    }



    .newsletter-form {
        text-align: left;
    }

    /* Products Page | Media Query */


    .product-card {

        flex: 0 0 12rem;
        max-width: 14rem;

    }

    .product-card-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        font-style: normal;
        padding: 0 0.3rem;
    }

    .product-price {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        font-style: normal;

    }

    /* Media Query | Footer */

    .input-container {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .footer-title {
        text-align: left;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-input {
        border-radius: 0.5rem;
        border: 0.5px solid rgba(0, 0, 0, 0.356);
        width: 80%;
        height: 2.4rem;
    }

    .footer-copy {
        text-align: center;
    }



}

/* Media Query Desktop */

@media only screen and (min-width: 1020px) {



    #infoCarousel .carousel-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10rem;
    }

    #infoCarousel .carousel-item {
        display: block !important;
        opacity: 1 !important;
        transform: none !important;
    }

    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .bows {
        grid-area: 1 / 1 / 2 / 2;
    }

    .amigurumi {
        grid-area: 1 / 2 / 2 / 3;
    }

    .porta-gafas {
        grid-area: 1 / 3 / 2 / 4;
    }

    .flores {
        grid-area: 1 / 4 / 2 / 5;
    }


    .newsletter-form {
        text-align: left;
    }

    /* Products Page | Media Query */


    .product-card {

        flex: 0 0 16rem;
        max-width: 24rem;

    }

    .product-card-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        font-style: normal;
        padding: 0 0.3rem;
    }

    .product-price {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
        font-style: normal;

    }

    /* Media Query | Footer */

    .input-container {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .footer-title {
        text-align: left;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-input {
        border-radius: 0.5rem;
        border: 0.5px solid rgba(0, 0, 0, 0.356);
        width: 80%;
        height: 2.4rem;
    }

    .footer-copy {
        text-align: center;
    }




}