* {
    margin: 0;
    padding: 0;
    font-family: "Handlee", cursive;
}




/* Header */
.header {
    background-color: #beedf5;
    width: 100%;
    margin: 0;
}

.header-logo {
    width: 14rem;
    padding: 1rem;
}


.navbar {
    width: 100%;
    height: 4rem;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.193);
}

.header-link {
    text-decoration: none;
}


/* Informative cards */
.card {
    gap: 0.9rem;
    width: 8rem;
    border: none;
}

.carousel-item img {
    width: 4.2rem;
    height: 100%;
    object-fit: contain;
}


/* Main */

.card--featured {
    border: 1px solid #000;
    padding: 1rem;
    margin-top: 3rem;
}

.main-btn {
    background-color: #beedf5;
    color: #000;
    padding: 0.8rem 1rem;
    border: 1px solid;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;

}

.main-btn:hover {
    background-color: #1498af;
    color: #fff;
    border: 1px solid #000;
}

/* Footer */

footer {
    margin-top: 5rem;
    background-color: #beedf5;
    width: 100%;
}

.footer-input {
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.356);
    padding: 0.4rem 0.4rem;
    width: 10rem;
    height: 2.4rem;
}

.footer-copy {
    background-color: #abd5dc;
}


/* Media Queries Tablet */

@media only screen and (min-width: 500px) {

    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .bows {
        grid-area: 1 / 1 / 2 / 2;
    }

    .amigurumi {
        grid-area: 1 / 2 / 2 / 3;
    }

    .porta-gafas {
        grid-area: 2 / 1 / 3 / 2;
    }

    .flores {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media only screen and (min-width: 800px) {

    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .bows {
        grid-area: 1 / 1 / 2 / 2;
    }

    .amigurumi {
        grid-area: 1 / 2 / 2 / 3;
    }

    .porta-gafas {
        grid-area: 1 / 3 / 2 / 4;
    }

    .flores {
        grid-area: 2 / 1 / 3 / 2;
    }

    .producto {
        grid-area: 2 / 2 / 3 / 3;
    }

    .producto {
        grid-area: 2 / 3 / 3 / 4;

    }

    /* Media Query Desktop */

    @media only screen and (min-width: 1020px) {
        .main-grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .bows {
            grid-area: 1 / 1 / 2 / 2;
        }

        .amigurumi {
            grid-area: 1 / 2 / 2 / 3;
        }

        .porta-gafas {
            grid-area: 1 / 3 / 2 / 4;
        }

        .flores {
            grid-area: 1 / 4 / 2 / 5;
        }

    }

