// Reset
* {
    margin: 0;
    padding: 0;
    
}


// Uso de imports

@import '../utilities/variables';
@import '../utilities/extends';
@import '../utilities/mixins';
@import '../layout/body';
@import '../layout/header';
@import '../layout/main';
@import '../layout/footer';








