%flexColumnCentrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

%flexCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}