// Background colors

$bg-primary-color: #1107b6;
$bg-secondary-color: #00005f;
$bg-tertiary-color: #282872;
$bg-light: #a5c4ff;

// Text Colors

$text-primary-color: #fff;
$text-secondary-color: #181818;

// Border Colors

$border-primary-color: #2990ff;
$border-secondary-color: #293bff;

