footer {
    background-color: $bg-light;
    height: 10rem;
    @extend %flexCentrado;
    gap: 3rem;
    

    ul {
        list-style-type: none;
        padding: 0;

        display: flex;
        flex-direction: column;
        margin-left: 2rem;


        li {
             &:hover {
                transform: scale(1.05);
                font-weight: 500;
            }
        }


        a {
            text-decoration: none;
            color: $text-secondary-color;

           
        }
    }


    img {
        width: 5rem;
        height: 4rem;
        
    }


}