// Header index

.index-header {

    background-image: url(../img/fondo_header.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;

    section {
        @extend %flexColumnCentrado;

        button {
            border: 0.2px solid $border-primary-color;
            a {
                text-decoration: none;
                color: $text-primary-color;
            }
        }
    }



}


.navbar {
    background-color: $bg-tertiary-color;

    .navbar-brand {
        color: $text-primary-color;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .nav-link {
        color: $text-primary-color;
        font-size: 0.9rem;
    }

}




h1 {
    font-size: 1.5rem;
    color: $text-primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 0.3rem;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 0.4rem;
    }


}

.btn-primary {
    background-color: $bg-primary-color;
    color: $text-primary-color;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;

}

.btn-primary:hover {

    background-color: $bg-secondary-color;
    color: $text-primary-color;

}



// Header PAGES

.header {
    background-image: url(../img/header-background-pages.jpg);
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    section {
        color: $text-primary-color;
        @extend %flexColumnCentrado;
        

        p {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

}